<h1>Search Results</h1>

<h3>There are <%= @characters.count %> characters in the <%= @nation.gsub('+', ' ') %> </h3>

<% if @characters.any? %>
  <% @characters.first(25).each do |character| %>
    <div class="character">
      <h4><%= character.name %></h4>

      <% if character.photo_url %>
        <%= image_tag character.photo_url %>
      <% else %>
        <em><p>No photo available</p></em>
      <% end %>

      <h5>Enemies:</h5>
      <ul>
        <% if character.enemies %>
          <% character.enemies.each do |enemy| %>
            <li>
              <%= enemy %>
            </li>
          <% end %>
        <% else %>
          <em><p>No enemies listed</p></em>
        <% end %>
      </ul>

      <h5>Allies:</h5>
      <ul>
        <% if character.allies %>
          <% character.allies.each do |ally| %>
            <li>
              <%= ally %>
            </li>
          <% end %>
        <% else %>
          <em><p>No allies listed</p></em>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
